{% extends "base.html" %}

{% block content %}
    {% if list_type == "ol" %}
        <p></p>
        <h2>Список профессий</h2>
        {% set jobs = ["инженер-исследователь", "пилот", "строитель",
                      "экзобиолог", "врач", "инженер по терраформированию",
                      "климатолог", "специалист по радиационной защите", "астрогеолог",
                      "гляциолог", "инженер жизнеобеспечения", "метеоролог",
                      "оператор марсохода", "киберинженер", "штурман", "пилот дронов"] %}
        <ol>
            {% for elem in jobs %}
            <li>{{ elem }}</li>
            {% endfor %}
        </ol>
    {% elif list_type == "ul" %}
        <p></p>
        <h2>Список профессий</h2>
        {% set jobs= ["инженер-исследователь", "пилот", "строитель",
              "экзобиолог", "врач", "инженер по терраформированию",
              "климатолог", "специалист по радиационной защите", "астрогеолог",
              "гляциолог", "инженер жизнеобеспечения", "метеоролог",
              "оператор марсохода", "киберинженер", "штурман", "пилот дронов"] %}
        <ul>
            {% for elem in jobs %}
            <li>{{ elem }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p></p>
        <h2 align="center">Неверный параметр</h2>
    {% endif %}
{% endblock %}